<div class="row">
    <div class="col">
        <!-- Por cada servidor crearemos una tarjeta con el nombre y
   el
    estado del servidor-->
        <div class="card mt-2" *ngFor="let item of resultsServer" [routerLink]="['/servers', item.id]"
            [queryParams]="{allowEdit: '1'}" fragment="loading">
            <div class="card-header">{{item.name}}</div>
            <div class="card-body">
                <h5 class="card-title">Server status</h5>
                <p class="card-text">{{item.status}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <router-outlet></router-outlet>
    </div>
</div>